USE [MEDIATRIX_EMPLOYEES]
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 11/5/2021 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[ADDRESS_ID] [int] IDENTITY(1,1) NOT NULL,
	[CITY_ID] [int] NULL,
	[ADDRESS_DIRECTION] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 11/5/2021 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[CITY_ID] [int] IDENTITY(1,1) NOT NULL,
	[CITY_NAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 11/5/2021 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DEPARTMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[DEPARTMENT_NAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPARTMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 11/5/2021 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EMPLOYEE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_NAME] [varchar](50) NULL,
	[EMPLOYEE_LAST_NAME] [varchar](50) NULL,
	[EMPLOYEE_CARD_ID] [char](11) NULL,
	[EMPLOYEE_TELEPHONE] [char](10) NULL,
	[EMPLOYEE_BIRTHDATE] [date] NULL,
	[EMPLOYEE_HIRE_DATE] [date] NULL,
	[EMPLOYEE_STATUS] [bit] NULL,
	[EMPLOYEE_MANAGER] [int] NULL,
	[EMPLOYEE_DEPARTMENT] [int] NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ADDRESS_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EMPLOYEE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[EMPLOYEES_VIEW]    Script Date: 11/5/2021 9:56:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [dbo].[EMPLOYEES_VIEW]
AS
(
	SELECT
		E.EMPLOYEE_ID AS id,
		E.EMPLOYEE_NAME AS names,
		E.EMPLOYEE_LAST_NAME AS lastName,
		E.EMPLOYEE_CARD_ID AS cardID,
		E.EMPLOYEE_TELEPHONE AS telephone,
		E.EMPLOYEE_BIRTHDATE AS birthdate,
		E.EMPLOYEE_HIRE_DATE AS hireDate,
		--CASE
		--	WHEN E.EMPLOYEE_STATUS = 0
		--		THEN 'INACTIVO'
		--	WHEN E.EMPLOYEE_STATUS = 1
		--		THEN 'ACTIVO'
		--END AS EMPLOYEE_STATUS,
		E.EMPLOYEE_STATUS AS [status],
		E.EMPLOYEE_MANAGER AS managerID,
		M.EMPLOYEE_NAME +' '+ M.EMPLOYEE_LAST_NAME AS managerName,
		E.EMPLOYEE_DEPARTMENT AS departmentID,
		D.DEPARTMENT_NAME AS departmentName,
		E.MODIFIED_DATE AS modifiedDate,
		E.ADDRESS_ID AS addressID,
		C.CITY_NAME AS cityName,
		A.ADDRESS_DIRECTION AS direction
	FROM EMPLOYEE E 
	FULL OUTER JOIN EMPLOYEE M ON M.EMPLOYEE_ID = E.EMPLOYEE_MANAGER
	INNER JOIN DEPARTMENT D ON D.DEPARTMENT_ID = E.EMPLOYEE_DEPARTMENT
	INNER JOIN [ADDRESS] A ON A.ADDRESS_ID = E.ADDRESS_ID
	INNER JOIN CITY C ON C.CITY_ID=A.CITY_ID

)

GO
SET IDENTITY_INSERT [dbo].[ADDRESS] ON 

INSERT [dbo].[ADDRESS] ([ADDRESS_ID], [CITY_ID], [ADDRESS_DIRECTION]) VALUES (1, 1, N'CALLE #1')
INSERT [dbo].[ADDRESS] ([ADDRESS_ID], [CITY_ID], [ADDRESS_DIRECTION]) VALUES (2, 1, N'CALLE #2')
INSERT [dbo].[ADDRESS] ([ADDRESS_ID], [CITY_ID], [ADDRESS_DIRECTION]) VALUES (3, 1, N'CALLE #3')
SET IDENTITY_INSERT [dbo].[ADDRESS] OFF
GO
SET IDENTITY_INSERT [dbo].[CITY] ON 

INSERT [dbo].[CITY] ([CITY_ID], [CITY_NAME]) VALUES (3, N'BARAHONA')
INSERT [dbo].[CITY] ([CITY_ID], [CITY_NAME]) VALUES (14, N'DAJABON')
INSERT [dbo].[CITY] ([CITY_ID], [CITY_NAME]) VALUES (7, N'HATO MAYOR')
SET IDENTITY_INSERT [dbo].[CITY] OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENT] ON 

INSERT [dbo].[DEPARTMENT] ([DEPARTMENT_ID], [DEPARTMENT_NAME]) VALUES (4, N'ADMINISTRATION')
INSERT [dbo].[DEPARTMENT] ([DEPARTMENT_ID], [DEPARTMENT_NAME]) VALUES (3, N'FINANCE')
INSERT [dbo].[DEPARTMENT] ([DEPARTMENT_ID], [DEPARTMENT_NAME]) VALUES (2, N'HUMAN RESOURCES')
SET IDENTITY_INSERT [dbo].[DEPARTMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_NAME], [EMPLOYEE_LAST_NAME], [EMPLOYEE_CARD_ID], [EMPLOYEE_TELEPHONE], [EMPLOYEE_BIRTHDATE], [EMPLOYEE_HIRE_DATE], [EMPLOYEE_STATUS], [EMPLOYEE_MANAGER], [EMPLOYEE_DEPARTMENT], [MODIFIED_DATE], [ADDRESS_ID]) VALUES (1, N'JUAN MIGUEL', N'PEREZ MATOS', N'12345678901', N'8098765656', CAST(N'1995-01-01' AS Date), CAST(N'2020-01-01' AS Date), 1, NULL, 1, CAST(N'2021-10-07T11:04:42.810' AS DateTime), 1)
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_NAME], [EMPLOYEE_LAST_NAME], [EMPLOYEE_CARD_ID], [EMPLOYEE_TELEPHONE], [EMPLOYEE_BIRTHDATE], [EMPLOYEE_HIRE_DATE], [EMPLOYEE_STATUS], [EMPLOYEE_MANAGER], [EMPLOYEE_DEPARTMENT], [MODIFIED_DATE], [ADDRESS_ID]) VALUES (2, N'JONATHAN KEVIN', N'FERNANDEZ GONZALEZ', N'12345678902', N'8099765656', CAST(N'1975-01-01' AS Date), CAST(N'2000-01-01' AS Date), 1, NULL, 1, CAST(N'2021-10-07T11:05:40.127' AS DateTime), 1)
INSERT [dbo].[EMPLOYEE] ([EMPLOYEE_ID], [EMPLOYEE_NAME], [EMPLOYEE_LAST_NAME], [EMPLOYEE_CARD_ID], [EMPLOYEE_TELEPHONE], [EMPLOYEE_BIRTHDATE], [EMPLOYEE_HIRE_DATE], [EMPLOYEE_STATUS], [EMPLOYEE_MANAGER], [EMPLOYEE_DEPARTMENT], [MODIFIED_DATE], [ADDRESS_ID]) VALUES (3, N'MICHAEL MARCOS', N'FERNANDEZ PEREZ', N'12345678903', N'8099760656', CAST(N'1985-01-01' AS Date), CAST(N'2003-01-01' AS Date), 1, 2, 1, CAST(N'2021-10-07T11:07:02.160' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CITY__9EA0CAFFCC6851DE]    Script Date: 11/5/2021 9:56:26 AM ******/
ALTER TABLE [dbo].[CITY] ADD UNIQUE NONCLUSTERED 
(
	[CITY_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DEPARTME__8AD9D2FBFCDCD5B2]    Script Date: 11/5/2021 9:56:26 AM ******/
ALTER TABLE [dbo].[DEPARTMENT] ADD UNIQUE NONCLUSTERED 
(
	[DEPARTMENT_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD FOREIGN KEY([CITY_ID])
REFERENCES [dbo].[CITY] ([CITY_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([ADDRESS_ID])
REFERENCES [dbo].[ADDRESS] ([ADDRESS_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([EMPLOYEE_MANAGER])
REFERENCES [dbo].[EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([EMPLOYEE_DEPARTMENT])
REFERENCES [dbo].[DEPARTMENT] ([DEPARTMENT_ID])
GO
