<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Employees" providerName="System.Data.SqlClient"
         connectionString="YOUR SERVER; Initial Catalog=YOUR DATABSE; User ID=YOUR USER; Password=YOUR PASSWORD;"
  />
  </connectionStrings>
</configuration>
